// Login page
.guest-layout {
    .main-logo {
        margin-bottom: 1rem;
    }

    .login-main {
        width: 800px;
        margin: 0 auto;
        padding-top: 2rem;

        .input-validation-error {
            border-color: #f14668;
        }
    }
}

@media only screen and (max-width: 800px) {
    .guest-layout .login-main {
        width: 100%;
    }
}