$incident-items-colors: (
      Created: #f6bf26,
      InProgress: #009140,
      Completed: #2196F3,
      Canceled: #616161,
);

@each $class, $color in $incident-items-colors {
    .theme-gcal .cv-item.#{$class} {
        background-color: $color;
        color: white;
    }
    
    .theme-gcal .cv-item.#{$class}-outsideOfMonth {
        background-color: $color;
        color: white;
        opacity: .5;
    }
    
    // Map marker
    .incident-icon-#{$class} {
        color: $color;
    }
}

.incident-messages {
    .message {
        margin-bottom: .5rem;
    }
}