// Entity Index
.filter-table-form {
    display: flex;
    justify-content: space-between;

    .field {
        flex: 1;
        padding-right: 1rem;

        &:last-child {
            padding-right: 0;
        }
    }

    .select, select {
        width: 100%;
    }
}

// Entity Details
.entity-details-page {
    display: flex;

    .entity-details-form,
    .entity-details-aside {
        flex: 1;
    }

    .entity-details-aside {
        margin-left: 1rem;
    }

    .section-header {
        margin-bottom: 1rem;

        h2 {
            margin-bottom: 0;
        }
    }
}

.form-section {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 2rem;
}

.control-multiple-inputs {
    display:  flex;

    input {
        margin-right: 1rem;
    }

    input:last-child{
        margin-right: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .entity-details-page {
        flex-direction: column;

        .entity-details-aside {
            margin-top: 2rem;
            margin-left: 0;
        }

        .radio + .radio {
            margin-left: 0;
        }
    }
}

// In place edit table
.in-place-edit-form {
    display: flex;
    align-items: center;

    .save-edit-btn {
        display: none;
    }

    .input-edit {
        flex: 1;
        margin-right: 1rem;
        padding: .5rem;

        &:focus {
            outline: none;
        }

        &:not(:focus) {
            border: none;
            background: transparent;
            box-shadow: none;
        }
    }

    &.is-editing {
        .save-edit-btn {
            display: flex;
        }
    }
}