// Layout
$side-bar-width: 250px;
$mobile-top-menu-bar-height: 60px;
$main-app-color: #000000;

.sidebar-layout {
    .main-logo {
        margin: 1rem;
    }

    .sidebar {
        width: $side-bar-width;
        position: fixed;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        overflow: auto;
    }

    .sidebar-footer {
        .dropdown-menu {
            width: 100%;
            input, a {
                width: 100%;
            }
        }

        .logged-user{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem;

            img {
                margin-right: 1rem;
            }
        }
    }

    .main-nav {
        padding: 1rem;
        
        .sub-nav-item {
            display: none; // Prevent that sub-nav-item will be visible after page load
        }
        
        .nav-item .sub-nav-item {
            display: block;
        }

        .nav-item > a {
            width: 100%;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                display: flex;
                align-items: center;

                .nav-icon {
                    display: block;
                    margin-right: .5rem;
                }
            }

            .btn-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                margin: 0;
                cursor: pointer;
            }
        }

        .sub-nav {
            transition: display 0.3s ease-in-out;
            margin-left: 1rem;
            margin-bottom: 1rem;

            .sub-nav-item {
                a {
                    width: 100%;
                    display: flex;
                    justify-content: start;

                    .nav-icon {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        .sub-nav > .selected > a {
            background: #00d1b2;
            color: #fff;
        }

        .nav-item.selected .nav-item-btn-toggle {
            transform: rotate(90deg);
        }

        .nav-item-btn-toggle-open {
            transform: rotate(90deg);
            transition: transform .3s ease-in-out;
        }

        .nav-item-btn-toggle-close {
            transform: rotate(0deg);
            transition: transform .3s ease-in-out;
        }
    }

    .sidebar-layout-container {
        display: flex;

        &::before {
            content: '';
            display: block;
            flex-grow: 0;     /* do not grow   - initial value: 0 */
            flex-shrink: 0;   /* do not shrink - initial value: 1 */
            flex-basis: $side-bar-width; /* width/height  - initial value: auto */
        }
    }

    .content {
        flex: 1;
        padding: 0 1rem;

        display: flex; 
        flex-direction: column; 
        min-height: 100vh;
        
        main {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    // Responzitiva
    .mobile-top-menu-bar {
        z-index: 1006;
        position: fixed;
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        display: none;
        height: $mobile-top-menu-bar-height;

        .open-menu-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 1rem;
            color: #000;
        }

        // Aby bolo logo vyrovnané na stred pri flex
        &:after {
            content: '';
            display: block;
            width: 3rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        padding-top: $mobile-top-menu-bar-height;

        .sidebar {
            display: none;
            z-index: 1005;
            background: #fff;
            top: 0;
        }

        .mobile-sidebar-open {
            display: block;
            width: 100%;
        }

        .sidebar-layout-container::before {
            display: none;
        }

        .mobile-top-menu-bar {
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .content {
            overflow-x: scroll;
            min-height: calc(100vh - #{$mobile-top-menu-bar-height});
        }
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
        display: flex;
        align-items: center;

    }
}

@media only screen and (max-width: 700px) {
    .main-header {
        align-items: start;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-app-color;
    fill: $main-app-color;

    span {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.message-closeable .message-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & > p {
        margin: 0;
    }
}
