body {
    background: #fff;
}

* {
    box-sizing: border-box;
}

// Helpers
.select-full-width {
    width: 100%;
    select {
        width: 100%;
    }
}

.heading-with-icon {
    display: flex;
    align-items: center;
    svg {
        margin-right: .75rem;
    }
}

.button-with-icon {
    display: flex;
    align-items: center;
}

.temporary-disabled {
    cursor: not-allowed;
    opacity: .5;
}

// Layout
$side-bar-width: 250px;
$main-app-color: #000000;
$mobile-top-menu-bar-height: 60px;

.sidebar-layout {
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-app-color;
        fill: $main-app-color;
        
        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    .main-logo {
        margin: 1rem;
    }
    
    .sidebar {
        width: $side-bar-width;
        position: fixed;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        overflow: auto;
    }
    
    .sidebar-footer {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem;
        
        img {
            margin-right: 1rem;
        }
    }
    
    .main-nav {
        padding: 1rem;
        
        .nav-item>a {
            width: 100%;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            span {
                display: flex;
                align-items: center;
                
                .nav-icon {
                    display: block;
                    margin-right: .5rem;
                }
            }
            
            .btn-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                border: none;
                margin: 0;
                cursor: pointer;
            }
        }
        
        .sub-nav {
            transition: display 0.3s ease-in-out;
            margin-left: 1rem;
            margin-bottom: 1rem;

            .sub-nav-item {
                a {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    
                    .nav-icon {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        .nav-item-open {
            transform: rotate(90deg);
            transition: transform .3s ease-in-out;
        }

        .nav-item-close {
            transform: rotate(0deg);
            transition: transform .3s ease-in-out;
        }
    }

    .sidebar-layout-container {
        display: flex;

        &::before {
            content: '';
            display: block;
            flex-grow: 0;     /* do not grow   - initial value: 0 */
            flex-shrink: 0;   /* do not shrink - initial value: 1 */
            flex-basis: $side-bar-width; /* width/height  - initial value: auto */
        }
    }

    .content {
        flex: 1;
        padding: 0 1rem;
    }
    
    // Responzitiva
    .mobile-top-menu-bar {
        z-index: 1006;
        position: fixed;
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
        display: none;
        height: $mobile-top-menu-bar-height;
        
        .open-menu-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 1rem;
            color: #000;
        }
        
        // Aby bolo logo vyrovnané na stred pri flex
        &:after {
            content: '';
            display: block;
            width: 3rem;
        }
    }

    @media only screen and (max-width: 1000px) {
        padding-top: $mobile-top-menu-bar-height;
        
        .sidebar {
            display: none;
            z-index: 1005;
            background: #fff;
            top: 0;
        }
        
        .mobile-sidebar-open {
            display: block;
            width: 100%;
        }
        
        .sidebar-layout-container::before {
            display: none;
        }

        .mobile-top-menu-bar {
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .content {
            overflow-x: scroll;
        }
    }
}




.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .buttons {
        display: flex;
        align-items: center;
        
    }
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Users
// Index
.filter-table-form {
    display: flex;
    justify-content: space-between;
    
    .field {
        flex: 1;
        padding-right: 1rem;
        
        &:last-child {
            padding-right: 0;
        }
    }
    
    .select, select {
        width: 100%;
    }
}

// Details
.user-details-page {
    display: flex;
    
    .user-details-form,
    .user-details-aside {
        flex: 1;
    }
    
    .user-details-aside {
        margin-left: 1rem;
    }
    
    .section-header {
        margin-bottom: 1rem;
        
        h2 {
            margin-bottom: 0;
        }
    }
    
}

.form-section {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 2rem;
}

.control-multiple-inputs {
    display:  flex;
    
    input {
        margin-right: 1rem;
    }
    
    input:last-child{
        margin-right: 0;
    }
}

@media only screen and (max-width: 1000px) { 
    .user-details-page {
        flex-direction: column;
        
        .user-details-aside {
            margin-top: 2rem;
            margin-left: 0;
        }

        .radio + .radio {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 700px) {
    .main-header {
        align-items: start;
        flex-direction: column;
        margin-bottom: 2rem;
    }
}

// General
.table-with-clickable-link.table {
    td {
        padding: 0;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: .25em .5em;
        color: #000;
    }
}

.table td.table-icon {
    svg {
        transform: translate(0, .2rem);
    }
}