<header class="main-header">
    <h1>AED Adresa 123</h1>
    <div class="buttons">
        <a asp-controller="AED" asp-action="Index" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Prehľad AED</span>
        </a>
    </div>
</header>

<div class="user-details-page" x-data="{ formType: 'stationary' }">
    <form class="user-details-form">
        <section class="form-section">
            <div class="field">
                <label class="label">Registrácia</label>
                <div class="control">
                    <input class="input" type="date" disabled>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Typ</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question" value="stationary" x-model="formType" checked disabled>
                        Stacionárny (je umiestnený verejne)
                    </label>
                    <label class="radio">
                        <input type="radio" name="question" value="mobile" x-model="formType" disabled>
                        Mobilný (vlastní First responder)
                    </label>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Stav *</label>
                <div class="control">
                    <div class="select select-full-width">
                        <select>
                            <option>Registrovaný</option>
                            <option>Pripravený</option> 
                            <option>Nepripravený</option>
                            <option>Mimo prevádzky</option>
                            <option>Servisný zásah</option>
                            <option>Zrušený</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="form-section" x-show="formType == 'stationary'">
            <h2>Umiestnenie</h2>
            <div class="field">
                <label class="label">Držateľ *</label>
                <div class="control">
                    <input class="input" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Ulica, číslo *</label>
                <div class="control">
                    <input class="input" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Mesto *</label>
                <div class="control">
                    <input class="input" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label">PSČ</label>
                <div class="control">
                    <input class="input" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Kraj</label>
                <div class="control">
                    <div class="select select-full-width">
                        <select>
                            <option>Trenčiansky kraj</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Zemepisná šírka</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">Zemepisná dĺžka</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Popis</label>
                <div class="control">
                    <textarea class="textarea"></textarea>
                </div>
            </div>
        </section>
        
        <section class="form-section" x-show="formType == 'stationary'">
            <h2>Dostupnosť</h2>
            <div class="field">
                <label class="label">Dostupnosť</label>
                <div class="control">
                    <div class="select select-full-width">
                        <select>
                            <option>Prevádzkové časy</option>
                            <option>???</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Dostupnosť v termíne (od - do)</label>
                <div class="control control-multiple-inputs">
                    <input class="input" type="date">
                    <input class="input" type="date">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Dostupnosť v čase (od - do)</label>
                <div class="control control-multiple-inputs">
                    <input class="input" type="time">
                    <input class="input" type="time">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Dostupnosť v dňoch</label>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Pondelok
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Utorok
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Streda
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Štvrtok
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Piatok
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Sobota
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Nedeľa
                    </label>
                </div>
            </div>
        </section>
    
        <section class="form-section" x-show="formType == 'stationary'">
            <h2>Kontaktná osoba</h2>
            <div class="field">
                <label class="label">Meno</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Telefón</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email">
                </div>
            </div>
        </section>
    
        <section class="form-section" x-show="formType == 'mobile'">
            <h2>Vlastník AED (First responder)</h2>
            <div class="field">
                <label class="label">Email First respondera</label>
                <div class="control">
                    <input class="input" type="email">
                </div>
            </div>            
        </section>
        
        <section class="form-section">
            <h2>Technické detaily</h2>
            <div class="field">
                <label class="label">Výrobca</label>
                <div class="control">
                    <div class="select select-full-width">
                        <select>
                            <option>Výrobca 1</option>
                            <option>Výrobca 2</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Model</label>
                <div class="control">
                    <div class="select select-full-width">
                        <select>
                            <option>Model 1</option>
                            <option>Model 2</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Typ</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question">
                        Plne automatický
                    </label>
                    <label class="radio">
                        <input type="radio" name="question">
                        Poloautomatický
                    </label>
                </div>
            </div>

            <div class="field">
                <label class="label">Sériové číslo</label>
                <div class="control">
                    <input class="input" type="text">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Jazyk</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Slovenský">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Elektródy pre dospelých
                    </label>
                </div>
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox">
                        Elektródy pre deti
                    </label>
                </div>
            </div>

            <div class="field">
                <label class="label">Expirácia elektród</label>
                <div class="control">
                    <input class="input" type="date">
                </div>
            </div>

            <div class="field">
                <label class="label">Expirácia detských elektród</label>
                <div class="control">
                    <input class="input" type="date">
                </div>
            </div>

            <div class="field">
                <label class="label">Expirácia batérií</label>
                <div class="control">
                    <input class="input" type="date">
                </div>
            </div>
        </section>
    
        <div class="field">
            <label class="label">Poznámky</label>
            <div class="control">
                <textarea class="textarea"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-link">Uložiť</button>
            </div>
        </div>
    </form>
    
    <aside class="user-details-aside">
        <section x-show="formType == 'stationary'">
            <h2 class="heading-with-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Umiestnenie
            </h2>
            <div id="map" style="height: 300px; margin-bottom: 1rem;"></div>
        </section>
        
        <section x-show="formType == 'stationary'">
            <header class="section-header" x-show="formType == 'stationary'">
                <h2 class="heading-with-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                        <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
                        <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z"/>
                    </svg>
                    Fotografie
                </h2>
                <button class="button" disabled>Pridať fotografiu</button>
            </header>
            
            <div class="mb-5">
                Neboli nahraté žiadne fotografie.
            </div>
        </section>
        
        <header class="section-header">
            <h2 class="heading-with-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
                Udalosti
            </h2>
            <button class="button" disabled>Pridať udalosť</button>
        </header>
        
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Udalosť</th>
                <th>Vykonávateľ</th>
                <th>Popis</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < 2; i++)
            {
                <tr>
                    <td>08.10.2023</td>
                    <td>Výmena elektród</td>
                    <td></td>
                    <td></td>
                </tr>
            }
            <tr>
                <td>08.10.2023</td>
                <td>Výmena batérie</td>
                <td>John Doe</td>
                <td>Bola vymenená batéria</td>
            </tr>
            </tbody>
        </table>
        
        <header class="section-header">
            <h2 class="heading-with-icon">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                </svg>
                Notifikácie
            </h2>
            <button class="button" disabled>Odoslať notifikáciu</button>
        </header>
        
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>Dátum</th>
                <th>Predmet</th>
                <th>Správa</th>
                <th>Odosielateľ</th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < 2; i++)
            {
                <tr>
                    <td>08.10.2023</td>
                    <td>Výmena elektród</td>
                    <td>Lorem ipsum dolor sit amet.</td>
                    <td>John Doe</td>
                </tr>
            }
            </tbody>
        </table>
    </aside>
</div>

@section StyleSheets
{
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
}

@section Scripts
{
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        let map = L.map('map').setView([48.684, 19.677], 16);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        let marker = L.marker([48.684, 19.677]).addTo(map);
        //marker.bindPopup("Môj marker").openPopup();
    </script>
}
