@{
    ViewBag.Title = "Prehľad AED";
}

<header class="main-header">
    <h1>Rozmiestnenie defibrilátorov</h1>
</header>

<div class="filter-table-form" style="opacity: 0.2;">
    <div class="field">
        <label class="label">Podľa&nbsp;držateľa</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
    
    <div class="field">
            <label class="label">Podľa&nbsp;kraju</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>-</option>
                        <option>Trenčiansky kraj</option>
                    </select>
                </div>
            </div>
        </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;stavu</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>-</option>
                    <option>Registrovaný</option>
                    <option>Pripravený</option>
                    <option>Nepripravený</option>
                    <option>Mimo prevádzky</option>
                    <option>Servisný zásah</option>
                    <option>Zrušený</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;výrobcu</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>-</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;modelu</label>
        <div class="control">
            <div class="select">
                <select>
                    <option>-</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="field">
        <label class="label">Podľa&nbsp;sériového&nbsp;čísla</label>
        <div class="control">
            <input class="input" type="text">
        </div>
    </div>
</div>

<map-with-markers 
    style="height: 600px;"
    :markers="[
    @foreach (var aed in Model)
    {
        if (aed.Latitude != null && aed.Longitude != null)
        {
            <text>
            {
                'lat': @aed.Latitude.ToString().Replace(",", "."),
                'lon': @aed.Longitude.ToString().Replace(",", "."),
                'icon': 'aed-icon-@aed.State.ToString()',
                'onClickUrl': '@Url.Action("Edit", "Aed", new { aedId = aed.Id })'
            },
            </text>
        }
    }
]" />
