@{
    ViewBag.Title = "Nastavenia AED";
}

<header class="main-header">
    <h1>Nastavenia AED</h1>
</header>

<ul>
    <li>
        <a asp-controller="AedManufacturers" asp-action="Index">Výrobcovia AED</a>
    </li>
    <li>
        <a asp-controller="AedModels" asp-action="Index">Modely AED</a>
    </li>
    <li>
        <a asp-controller="AedLanguages" asp-action="Index">Jazyky AED</a>
    </li>
</ul>
