@model LoginViewModel
@{
    Layout = "_GuestLayout";
}

<h1 class="has-text-centered">Prihlásenie</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="message is-success">
        <div class="message-body mb-1">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    </div>
}

<div class="message is-danger">
    <div asp-validation-summary="ModelOnly" class="message-body mb-1"></div>
</div>

<form asp-controller="Account" asp-action="Login">
    <div class="field">
        <label asp-for="Email" class="label"></label>
        <div class="control">
            <input asp-for="Email" class="input" placeholder="user@example.com" required>
        </div>
        <span asp-validation-for="Email" class="help is-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Password" class="label"></label>
        <div class="control">
            <input asp-for="Password" class="input" placeholder="********" required>
        </div>
        <span asp-validation-for="Password" class="help is-danger"></span>
    </div>
    
    <div class="field">
        <div class="control">
            <label asp-for="RememberMe" class="checkbox">
                <input asp-for="RememberMe"/>
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>

    <div class="field flex-space-between">
        <div class="control">
            <button type="submit" class="button is-link">Prihlásiť sa</button>
        </div>
        
        <div class="control">
            <a asp-controller="Account" asp-action="ForgotPassword" class="button is-text">Zabudli ste heslo?</a>
        </div>
    </div>
</form>
