@model FirstResponder.ApplicationCore.Incidents.DTOs.IncidentFormDTO
@{
    ViewBag.Title = "Vytvoriť nový zásah";
}

<header class="main-header">
    <h1>Vytvoriť nový zásah</h1>
    <div class="buttons">
        <a asp-controller="Incidents" asp-action="Index" class="button button-with-icon">
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </span>
            <span>Prehľad zásahov</span>
        </a>
    </div>
</header>

<partial name="_SuccessMessage" />

<div class="entity-details-page">
    <div class="entity-details-form">
        <form asp-controller="Incidents" asp-action="Create">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="message is-danger">
                    <div asp-validation-summary="All" class="message-body mb-1"></div>
                </div>
            }

            <div class="field">
                <label class="label">Adresa *</label>
                <div class="control">
                    <textarea asp-for="Address" class="textarea" rows="2" required></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Pacient</label>
                <div class="control">
                    <input asp-for="Patient" class="input">
                </div>
            </div>

            <div class="field">
                <label class="label">Diagnóza *</label>
                <div class="control">
                    <textarea asp-for="Diagnosis" class="textarea" rows="4" required></textarea>
                </div>
            </div>
            
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <label class="label">Zemepisná šírka *</label>
                        <div class="control">
                            <input asp-for="Latitude" id="latitude" class="input" type="number" step=".000001" min="-90" max="90" required>
                        </div>
                    </div>
    
                    <div class="field">
                        <label class="label">Zemepisná dĺžka *</label>
                        <div class="control">
                            <input asp-for="Longitude" id="longitude" class="input" type="number" step=".000001" min="-90" max="90" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control flex-space-between">
                    <button type="submit" class="button is-link">Vytvoriť zásah</button>
                </div>
            </div>
        </form>
    </div>

    <aside class="entity-details-aside">
        <section>
            <h2 class="heading-with-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Umiestnenie
            </h2>
            <map-with-markers
                style="height: 300px; margin-bottom: 1rem;"
            />
        </section>
    </aside>
</div>

@section Scripts {
    <script>
        // On change of the input fields, update marker on the map
        const latitude = document.getElementById('latitude')
        const longitude = document.getElementById('longitude')
        const icon = "incident-icon"
        
        const onInput = () => {
            let lat = parseFloat(latitude.value)
            let lon = parseFloat(longitude.value)
            window.dispatchEvent(new CustomEvent('location-changed', { detail: { lat, lon, id: "new_location", icon, initialZoom: true } }))
        };
        
        latitude.addEventListener('input', onInput)
        longitude.addEventListener('input', onInput)
        
        // On map click, update input fields
        window.addEventListener('on-map-click', (e) => {
            latitude.value = e.detail.lat;
            longitude.value = e.detail.lon;
            window.dispatchEvent(new CustomEvent('location-changed', { detail: { lat: e.detail.lat, lon: e.detail.lon, id: "new_location", icon, initialZoom: false } }))
        })
    </script>
}