@model ForgotPasswordViewModel
@{
    Layout = "_GuestLayout";
}

<h1 class="has-text-centered">Zabudnuté heslo</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="message is-success">
        <div class="message-body mb-1">
            <p>@TempData["SuccessMessage"]</p>
        </div>
    </div>
}

<partial name="_ErrorMessages"/>

<div class="message is-danger">
    <div asp-validation-summary="ModelOnly" class="message-body mb-1"></div>
</div>

<form asp-controller="Account" asp-action="ForgotPassword">
    <div class="field">
        <label asp-for="Email" class="label"></label>
        <div class="control">
            <input asp-for="Email" class="input" placeholder="user@example.com" required>
        </div>
        <span asp-validation-for="Email" class="help is-danger"></span>
    </div>
    
    <div class="field flex-space-between">
        <div class="control">
            <button type="submit" class="button is-link">Odoslať</button>
        </div>
        
        <div class="control">
            <a asp-controller="Account" asp-action="Login" class="button is-text">Späť na prihlásenie</a>
        </div>
    </div>
</form>