@model ResetPasswordViewModel
@{
    Layout = "_GuestLayout";
}

<h1 class="has-text-centered">Vytvorenie nového hesla</h1>

<partial name="_ErrorMessages"/>

<form asp-controller="Account" asp-action="ResetPassword" asp-route-token="@Model.Token" method="post">
    <div class="field">
        <label asp-for="Email" class="label"></label>
        <div class="control">
            <input asp-for="Email" class="input" placeholder="user@example.com" required>
        </div>
    </div>
    
    <div class="field">
        <label asp-for="NewPassword" class="label"></label>
        <div class="control">
            <input asp-for="NewPassword" class="input" placeholder="********" required>
        </div>
    </div>

    <div class="field">
        <label asp-for="ConfirmNewPassword" class="label"></label>
        <div class="control">
            <input asp-for="ConfirmNewPassword" class="input" placeholder="********" required>
        </div>
    </div>

    <div class="field flex-space-between">
        <div class="control">
            <button type="submit" class="button is-link">Resetovať heslo</button>
        </div>
    </div>
</form>