@{
    ViewBag.Title = "Nastavenia používateľov";
}

<header class="main-header">
    <h1>Nastavenia používateľov</h1>
</header>

<div class="menu">
    <p class="menu-label">Úprava možností</p>
    <ul class="menu-list" style="list-style: none; margin: 0">
        <li>
            <a asp-controller="CourseTypes" asp-action="Index">Typy školení</a>
        </li>
    </ul>
</div>