@model AedFormViewModel

<section class="form-section">
    <h2>Technické detaily</h2>
    <div class="field">
        <label asp-for="AedFormDTO.ManufacturerId" class="label"></label>
        <div class="control">
            <div class="select select-full-width">
                <select asp-for="AedFormDTO.ManufacturerId" asp-items="@ViewBag.Manufacturers">
                    <option value="">-</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label asp-for="AedFormDTO.ModelId" class="label"></label>
        <div class="control">
            <div class="select select-full-width">
                <select asp-for="AedFormDTO.ModelId" asp-items="@ViewBag.Models">
                    <option value="">-</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <label asp-for="AedFormDTO.FullyAutomatic" class="label"></label>
        <div class="control">
            <label class="radio">
                <input type="radio" asp-for="AedFormDTO.FullyAutomatic" value="true" checked>
                Plne automatický
            </label>
            <label class="radio">
                <input type="radio" asp-for="AedFormDTO.FullyAutomatic" value="false">
                Poloautomatický
            </label>
        </div>
    </div>

    <div class="field">
        <label asp-for="AedFormDTO.SerialNumber" class="label"></label>
        <div class="control">
            <input class="input" asp-for="AedFormDTO.SerialNumber">
        </div>
    </div>
    
    <div class="field">
        <label asp-for="AedFormDTO.LanguageId" class="label"></label>
        <div class="control">
            <div class="select select-full-width">
                <select asp-for="AedFormDTO.LanguageId" asp-items="@ViewBag.Languages">
                    <option value="">-</option>
                </select>
            </div>
        </div>
    </div>

    <div class="field">
        <div class="control">
            <label asp-for="AedFormDTO.ElectrodesAdults" class="checkbox">
                <input asp-for="AedFormDTO.ElectrodesAdults">
                Elektródy pre dospelých
            </label>
        </div>
        <div class="control">
            <label asp-for="AedFormDTO.ElectrodesChildren" class="checkbox">
                <input asp-for="AedFormDTO.ElectrodesChildren">
                Elektródy pre deti
            </label>
        </div>
    </div>

    <div class="field">
        <label asp-for="AedFormDTO.ElectrodesAdultsExpiration" class="label"></label>
        <div class="control">
            <input class="input" asp-for="AedFormDTO.ElectrodesAdultsExpiration">
        </div>
    </div>

    <div class="field">
        <label asp-for="AedFormDTO.ElectrodesChildrenExpiration" class="label"></label>
        <div class="control">
            <input class="input" asp-for="AedFormDTO.ElectrodesChildrenExpiration">
        </div>
    </div>

    <div class="field">
        <label asp-for="AedFormDTO.BatteryExpiration" class="label"></label>
        <div class="control">
            <input class="input" asp-for="AedFormDTO.BatteryExpiration">
        </div>
    </div>
</section>

<div class="field">
    <label asp-for="AedFormDTO.Notes" class="label"></label>
    <div class="control">
        <textarea class="textarea" asp-for="AedFormDTO.Notes"></textarea>
    </div>
</div>