@model FirstResponder.ApplicationCore.Groups.DTOs.GroupFormDTO

<form asp-controller="Groups" asp-action="Create">
    <header class="modal-card-head">
        <p class="modal-card-title" style="margin-bottom: 0">Prida콘 skupinu</p>
        <button type="button" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="field">
            <label class="label">Skupina *</label>
            <div class="control">
                <input asp-for="Name" class="input" type="text" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Popis</label>
            <div class="control">
                <textarea asp-for="Description" class="textarea"></textarea>
            </div>
        </div>
    </section>
    <footer class="modal-card-foot">
        <button type="submit" class="button is-link" id="btn-submit-create">Vytvori콘</button>
        <button type="button" class="button">Zru코i콘</button>
    </footer>
</form>